#set($distance = $model.get("value").get())

#macro(get_slot_value $component, $slotName)##
$component.get("$slotName").get("value")##
#end

Formula is: 

√(
(#get_slot_value($distance, "inX2") - #get_slot_value($distance, "inX1"))<sup>2</sup>
+
(#get_slot_value($distance, "inY2") - #get_slot_value($distance, "inY1")) <sup>2</sup>)
=
$distance.get("out").get("value")