<div style="border: 1px solid red; padding: 1rem; margin: 1rem;">
<h3>$model.getClass().getName()</h3>
<p>You're trying to render something that's the system doesn't know about, but here is its toString() representation:</p>
<p>$model</p>
</div>